.container {
  padding-top: 100px;
}

.title {
  text-align: center;
  padding-top: 100px;
}

.bold {
  font-weight: bold;
  color: rgba(46, 1, 91, 0.82);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.51);
}