* {
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.52);
}

.container {
  display: flex;
  padding-top: 50px;
  gap: 40px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.list {
  padding-top: 50px;
}