.container {
  display: flex;
  align-items: center;
  height: 90vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(215, 221, 243);
  padding: 30px;
  width: 100%;
  box-shadow: 0.2px 0.2px 30px rgba(0, 0, 0, 0.42);
  border-radius: 20px;
  height: 400px;
  justify-content: space-between;
}

.separatorHor {
  width: 100%;
  height: 2px;
  border: unset;
  background-color: rgba(47, 0, 96, 0.2);
}

.separatorVert {
  border: 1px solid rgba(47, 0, 96, 0.2);
  margin: 0 10px 0 0;
}

.checkBoxGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

.buttonGroup {
  display: flex;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(207, 206, 248);
  font-size: 20px;

}

.description {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(207, 206, 248);
  max-height: 90px;
  min-height: 50px;
  max-width: 1340px;
  font-size: 18px;
}
