#root {
    background-color: rgba(122, 168, 149, 0.65);
}

.container1 {

    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    border: 5px solid rgba(0, 23, 91, 0.5);
    border-radius: 30px;
    background-color: rgba(108, 209, 229, 0.18);
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}