.container{
    background-color: beige;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.menu-list{
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding-right: 50px;
}
