.infoGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 175px;
}

.amount {
  border: unset;
  outline: unset;
  background-color: rgb(230, 241, 250);
  padding: 5px;
  width: 110px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  border-radius: 5px;
}
